.header{
    height:59px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    cursor:pointer;
    position:fixed;
    top:0;
    right:0;
    left:0;
    background-color:white;
    z-index: 100;



}
.left-section{
    display:flex;
    align-items:center;
    cursor:pointer;


}

.hamburger{
    height:23px;
    padding:9px;
    border-radius: 20px;
    margin-right:10px;
    margin-left: 10px;
    cursor:pointer;
}
.youtube-logo{
    height:21px;
    cursor:pointer;
}
.youtube-logo-place{
    position:relative;
}
.youtube-logo-place .tooltip-one{
    position:absolute;
    border:1px solid rgb(155, 154, 154);
    font-size:12px;
    bottom:-32px;
    right:-70px;
    font-family:Roboto,arial;
    opacity:0;
    border-radius: 1px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    padding:5px;
    color:rgb(84, 82, 82);
}
.youtube-logo-place:hover .tooltip-one{
    opacity:1;
}


.youtube-in{
    position: absolute;
    top:-2px;
    right:-13px;
    font-family: Roboto,Arial;
    font-size: 10px;
    color:gray;
}
.middle-section{
    margin-left:60px;
    margin-right:10px;
    display:flex;
    align-items:center;
    cursor:pointer;
    width:45%;


}
.search-bar{
    height:37px;
    border-radius:18.5px 0 0 18.5px;
    padding-left:15px;
    font-size:16px;
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(179, 176, 176);
    box-shadow:inset 1px 2px 3px rgba(186, 180, 225, 0.05);
}
.search-bar::placeholder {
    font-family: Roboto,Arial;
    font-size: 16px;
    border:none;
}
.search-button{
    height:41px;
    width:60px;
    padding-bottom: 0;
    margin-right:16px;
    background-color: rgb(245, 245, 245);
    border:1px solid rgb(193, 188, 188);
    margin-left:-1px;
    border-radius:0px 20px 20px 0px;
    cursor:pointer;
}
.search-button,
.voice-search-button,
.notification-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip,
.notification-button .tooltip{
    position:absolute;
    background-color: rgb(139, 139, 139);
    color:white;
    padding:8px 8px;
    border: none;
    bottom:-45px;
    font-size:12px;
    opacity:0;
    border-radius: 4px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.notification-button:hover .tooltip{
    opacity:1;
}
.search-icon{
   height:24px;
   padding-top:3px;

}
.voice-search-button{
    height:40px;
    width:40px;
    padding-top:3px;
    border-radius:20px;
    border:none;
    cursor:pointer;
    background-color: rgb(245, 245, 245);

}
.voice-icon{
    height:24px;
    cursor:pointer;
}
.right-section{
    width:250px;
    display:flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

}
.create-button{
    height:36px;
    padding: 9px;
    margin-right:10px;
    width:90px;
    font-weight:500;
    font-size:15px;
    font-family:Roboto, Arial;
    cursor:pointer;
    border-radius:18px;
    background-color: rgb(245, 245, 245);
    border: none;

}
.create-button:hover,
.notification-button:hover,
.search-button:hover,
.voice-search-button:hover,
.hamburger:hover{
    background-color: rgb(238, 234, 234);
}
.notification-button{
    height:40px;
    width:40px;
    cursor:pointer;
    border:none;
    border-radius: 20px;
    margin-right:12px;
    background-color: white;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-icon{
    height:26px;
    width:26px;
    padding:17px;


}
.notification-count{
    position:absolute;
    background-color: rgb(207, 29, 29);
    color:white;
    top:6.5px;
    right:1.5px;
    font-family:Roboto,arial;
    font-size:11px;
    padding:1px 4px 2px 3px;
    border-radius:7.5px;
}
.channel-pro-pic{
    height:34px;
    width:40px;
    cursor:pointer;
    border:none;
    margin-left:0px;
    background-color: white;
}
.channel-icon{
    height:30px;
    width:32px;
    border-radius:15px;
}

